body {
    background: black;
    text-align: center;
}

header {
  font-family: "Arial Black", Gadget, sans-serif;
  text-align: left;
  color: #f1a8ff;
  position: relative;
}

#wrapper {
  position: relative;
  right: 100px
}

.logo img{
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 100px;
  position: relative;
  z-index: 1;
  left: 490px;
}

/*IMAGE DEFAULT STYLING*/
#images img {
  opacity: 0.8;
  filter: alpha(opacity=50);
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
  position: relative;
}

#images .pic1 {
  max-width: 300px;
  max-height: 500px;
  position: relative;
  right: 360px;
  bottom: 200px;
  background-size: calc(100% + 50px);
}

#images .pic2 {
  max-width: 600px;
  max-height: 300px;
  position: relative;
  bottom: 400px;
}

#images .pic3 {
  max-width: 700px;
  max-height: 300px;
  position: relative;
  bottom: 350px;
  right: 500px
}

#images .pic4 {
  max-width: 500px;
  max-height: 400px;
  position: relative;
  bottom: 590px;
}

#images .pic5 {
  max-width: 500px;
  max-height: 500px;
  position: relative;
  bottom: 1290px;
  left: 500px
}


#images .pic1:hover {
/*border-radius: 300px;
  transform: scale(4.15); */
  opacity: 1.0;
  filter: alpha(opacity=100)
}

#images .pic2:hover {
/*border-radius: 300px;
  transform: scale(4.15); */
  opacity: 1.0;
  filter: alpha(opacity=100)
}

#images .pic3:hover {
/*border-radius: 300px;
  transform: scale(4.15); */
  opacity: 1.0;
  filter: alpha(opacity=100)
}

#images .pic4:hover {
/*border-radius: 300px;
  transform: scale(4.15); */
  opacity: 1.0;
  filter: alpha(opacity=100)
}

#images .pic5:hover {
/*border-radius: 300px;
  transform: scale(4.15); */
  opacity: 1.0;
  filter: alpha(opacity=100)
}

/*
#images .pic2:hover {
  border-radius: 300px;
  transform: scale(1.15);
}
 */


.mainmenu a{
  color: white;
  font-family: "Arial Black", Gadget, sans-serif;
  padding: 20px 0px;
  -webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.mh-menu{
  position: absolute;
	height: 385px;
	width: 600px;
	margin: 20px auto;
  left: -130px;
}
.mh-menu li{
	width: 300px;
}
.mh-menu li a{
	display: block;
	width: 280px;
	padding: 0px 10px;
	text-align: right;
	position: relative;
	z-index: 10;
	height: 70px;
	border-right: 1px solid #ddd;
}
.mh-menu li:hover a{
	background: grey;
}

.mh-menu li a span{
	display:block;
}

.mh-menu li a span:first-child{
	font-weight: 50;
	font-size: 10px;
	color: #ddd;
	padding-top: 10px;
	font-family: "Arial Black", Gadget, sans-serif;
}
.mh-menu li a span:nth-child(2){
	font-weight: 50;
	font-size: 23px;
  color: white;
	font-family: "Arial Black", Gadget, sans-serif;
	-webkit-transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	-ms-transition: color 0.2s linear;
	transition: color 0.2s linear;
}
.mh-menu li:nth-child(1):hover span:nth-child(2){
	color: lightblue;
}
.mh-menu li:nth-child(2):hover span:nth-child(2){
	color: #c3d243;
}
.mh-menu li:nth-child(3):hover span:nth-child(2){
	color: #ffadfd;
}
.mh-menu li:nth-child(4):hover span:nth-child(2){
	color: lightgreen;
}
.mh-menu li img{
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
	position: absolute;
	z-index: 1;
	left: 0px;
	top: 0px;
	opacity: 0;
	-webkit-transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
	-moz-transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
	-o-transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
	-ms-transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
	transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
}
.mh-menu li:hover img{
	left: 300px;
	opacity: 1;
}
