html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
  background-color: black;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.logo img{
  text-align: left;
  height: auto;
  width: auto;
  max-width: 240px;
  max-height: 100px;
  position: fixed;
  z-index: 1;
  left: 0px;
  top: 0rem;
}


.pic {
  width: 70vw;
  height: calc(9/16 * 70vw);
  max-width: calc(16/9 * 70vh);
  max-height: 70vh;
  display: flex;
  position: relative;
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: url("https://i.imgur.com/fNJvWyL.gif") center center/cover;
  overflow: hidden;
}

.pic-play {
  width: 48px;
  height: 48px;
  position: relative;
  z-index: 1;
  margin: auto;
  opacity: 0;
  background: url("https://i.imgur.com/cPQAZO4.png") center center/cover;
  cursor: pointer;
  transition: opacity .3s ease-out;
}

.pic-play:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #000;
  transition: all .5s ease-out;
}

.pic-video {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: #000;
}
.pic-video iframe {
  width: 100%;
  height: 100%;
}
/* making the martin scorsese circle animation */
.pic:after {
  content: '';
  width: 250%;
  height: 250%;
  position: absolute;
  top: var(--y);
  left: var(--x);
  -webkit-transform: translate(-50%, -50%);
  opacity: 0;
  background: radial-gradient(circle closest-side, rgba(255, 255, 255, 0.3), transparent);
  transition: opacity 0.5s ease-out;
}

.pic:hover:after,
.pic:hover .pic-play {
  opacity: 1;
}

.video-is-open:after {
  display: none;
}

.video-is-open .pic-play {
  opacity: 1;
}
.video-is-open .pic-play:after {
  width: 2vh;
  height: 2vh;
  -webkit-transform: translate(-50%, -50%) scale(88.8888888889);
  transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out, -webkit-transform .5s ease-out;
}
